/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 article {
	 width: 640px;
 }
 .wide-text {
	 width: 80%;
 }
 .check-done:before {
   content:  "\2705 ";  /** "\2713" **/
   margin-right: .5em;
}
 .check-deleted:before {
   content:  "\2716 ";
   margin-right: .5em;
}
.check-deleted {
	text-decoration:line-through;
}
.ecm-inline-button,
.ecm-inline-button p.submit {
	display: inline-block;
}
.ecm-left {
	float: left;
}
.ecm-group-tweak-top {
	margin-top: 3px;
}
.ecm-group-pad-right {
	padding-right: 1em;
}
.ecm-group-pad-left {
	padding-left: 1em;
}